<html lang="ko"

      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<HEAD>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</HEAD>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<style>
    #home {
        margin: 1em;
        padding-left: 1em;
        width: 30em;
        display: flex;
        flex-direction: column;
    }

    .inner {
        height: 3em;
        display: flex;
        flex-direction: row;
    }

    #quotient-val {
        white-space: normal;
        word-break: break-all;
    }

    #remainder-val {
        white-space: normal;
        word-break: break-all;
    }

    #button-sec {
        display: flex;
        flex-direction: row-reverse;
    }

    #send-button {
        width: 5em;
    }
</style>

<div id="home">
    <div class="inner" id="url-sec">
        <div id="url-desc">
            URL :
        </div>
        <div id="url-input-sec">
            <input type="text" id="url-input">
        </div>
    </div>
    <div class="inner" id="type-sec">
        <div id="type-desc">
            Type :
        </div>
        <div id="type-input">
            <select name="textType" id="type-select">
                <option value="WHOLE">전체 텍스트</option>
                <option value="NO_HTML">HTML 태그 제거</option>
            </select>
        </div>
    </div>
    <div class="inner" id="unit-sec">
        <div id="unit-desc">
            출력 묶음 단위 :
        </div>
        <div id="unit-input-sec">
            <input type="number" id="unit-input">
        </div>
    </div>
    <div class="inner" id="button-sec">
        <button id="send-button" onclick="send()">출력</button>
    </div>
    <div id="quotient-sec">
        <div id="quotient-desc">
            몫 :
        </div>
        <div id="quotient-val">
        </div>
    </div>
    <div id="remainder-sec">
        <div id="remainder-desc">
            나머지:
        </div>
        <div id="remainder-val">
        </div>
    </div>
</div>
<script>
    const HOST = 'http://localhost:8080/converter';
    function send(){
        const url = document.getElementById('url-input').value;
        const textType = document.getElementById('type-select').value;
        const unit = document.getElementById('unit-input').value;
        const request = buildResponse(url, textType, unit);
        let requestUri = commonMakeUrl(HOST, request);
        axios.get(requestUri)
            .then(handleResponse)
            .catch(response => {
                console.log(response)
                response.response.status
                if(response.response.status === 400) {
                    alert(response.response.data.resultMessage)
                }
                if(response.response.status === 500) {
                    alert(response.response.data.resultMessage)
                }
            })
    }

    function handleResponse(response){
        console.log(response)
        document.getElementById('quotient-val').innerText = response.data.resultData.quotient;
        document.getElementById('remainder-val').innerText = response.data.resultData.remainder;
    }

    function commonMakeUrl(url, param) {
        Object.keys(param).forEach(function(key, index) {
            url = url + (index === 0 ? "?" : "&") + key + "=" + param[key];
        })
        return url;
    }

    function checkUrl(strUrl) {
        let expUrl = /^http[s]?:\/\/([\S]{3,})/i;
        return expUrl.test(strUrl);
    }

    function checkNaturalNumber(number){
        return number > 0;
    }

    function buildResponse(url, textType, unit) {
        if(!checkUrl(url)) {
            alert('url 형식에 맞지 않습니다.')
            return;
        }
        if(!checkNaturalNumber(unit)) {
            alert('묶음 단위는 자연수만 가능합니다.')
        }
        let result = new Object();
        result.url = url;
        result.textType = textType;
        result.unit = unit;
        return result;
    }
</script>
</html>